<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>modiqus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test_modiqus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF2C5E481868565100DF51F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF5DA38C18BD168F0053453C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF5DA3A618BD1A550053453C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF92230718BA2CFF00EFD7E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
